---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
---

<Layout>
  <Navbar />

  <section class="container">
    <h1>BoardLight</h1>
    <p style="color: gray;">HackTheBox • Linux • Easy</p>

    <h2>Recon</h2>
    <p>Nmap scan...</p>

    <h2>Exploitation</h2>
    <p>Exploit details...</p>

    <h2>Privilege Escalation</h2>
    <p>Root achieved...</p>
  </section>
</Layout>