---
import '../styles/global.css';
import Particles from '../components/Particles.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Borja Veloso</title>
  </head>
  <body>
	 <Particles />
	 <div class="overlay"></div>
    <main>
  		<slot />
	</main>
  </body>
</html>